.overlay-container {
  position: absolute;
  width: 60rem;
  height: 60rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 5%;
  z-index: 3;
}

.overlay-tile-grid {
  max-height: 60rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(15, 3rem);
  grid-auto-rows: 3rem;
  grid-gap: 0px;
  justify-content: center;
  /* opacity: 30%; */
  /* background-color: #2c8e8d; */
}

.overlay-tile {
  height: 3rem;
  width: 3rem;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #2c8e8d;
  border: 1px solid black;
}

.a-tiles, .b-tiles, .c-tiles, .d-tiles,
.e-tiles, .f-tiles, .g-tiles, .h-tiles,
.i-tiles, .j-tiles, .k-tiles, .l-tiles,
.m-tiles, .n-tiles, .o-tiles {
  display: flex;
  flex-direction: row;
}

.active {
  background-color: red;
}

.wall {
  background-color: black;
}

.blocked {
  border-radius: 0rem;
  background-color: #064949;
}

.right {
  transform: rotate(90deg);
}

.down {
  transform: rotate(180deg);
}

.left {
  transform: rotate(270deg);
}

.up {
  transform: rotate(0deg);
}

.item-acquired {
  background-color: white;
}
